<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Navbar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
<header>
          <div class="container">
            <a href="/" class="logo">Interview<b>Prep</b></a>
            <ul class="links">
              <li onclick="window.location.href='/'">Home</li>
              <li onclick="window.location.href='about'">About Us</li>
              <li onclick="window.location.href='personal-details'">Start</li>
            </ul>
          </div>
        </header>
</body>
</html>